.clock-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.bar-seconds,
.number-hours {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.bar-seconds span {
  position: absolute;
  display: flex;
  justify-content: center;
  inset: -3px;
  /* text-align: center; */
}

.bar-seconds span p {
  display: inline-block;
  width: 1px;
  height: 3px;
  background-color: rgba(80, 79, 79, 1);
}

.bar-seconds span:nth-child(5n) p {
  width: 2px;
  height: 6px;
  /* Вот так еще можно двигать риски */
  /* transform: translateY(1px);  */
}

.number-hours span {
  position: absolute;
  inset: 6px;
}

.number-hours span p {
  font-size: 15px;
}

.hands-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hands-box .hand {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.hands-box .hand i {
  display: inline-block;
  transform-origin: bottom;
  border-radius: 50%;
}

/* Часы */
.hands-box .hours {
  width: 120px;
  height: 120px;
}

.hands-box .hours i {
  width: 2px;
  height: calc(50px + 20px);
  background-color: rgba(80, 79, 79, 1);
}

/* Минуты */
.hands-box .minutes {
  width: 140px;
  height: 140px;
}

.hands-box .minutes i {
  width: 2px;
  height: calc(70px + 10px);
  background-color: rgba(80, 79, 79, 1);
}

/* Секунды */
.hands-box .seconds {
  width: 143px;
  height: 143px;
}

.hands-box .seconds i {
  width: 1.5px;
  height: calc(65px + 30px);
  background-color: rgb(255, 0, 0);
}

.hands-box .seconds::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
}

